@namespace MudExtensions
@inherits MudComponentBase

@if (_loading.Value == true)
{
    if (LoaderType == LoaderType.Circular)
    {
        if (LoaderContent != null)
        {
            @LoaderContent
        }
        else
        {
            <MudOverlay Class="mud-loading-overlay" Visible="_loading" Absolute="true" DarkBackground="@Darken">
                <div class="d-flex flex-column align-center justify-center">
                    <MudProgressCircular Class="@LoaderClass" Style="@LoaderStyle" Color="@Color" Indeterminate="true" />
                    <MudText Class="@TextClassname" Style="@TextStyle">@Text</MudText>
                </div>
            </MudOverlay>
        }
    }
    else if (LoaderType == LoaderType.Linear)
    {
        if (LoaderContent != null)
        {
            @LoaderContent
        }
        else
        {

            <MudProgressLinear Class="@LoaderClass" Style="@LoaderStyle" Color="@Color" Indeterminate="true" />
            <MudText Class="@TextClassname" Style="@TextStyle" Align="Align.Center">@Text</MudText>

            <MudOverlay Class="mud-loading-overlay" Visible="_loading" Absolute="true" DarkBackground="@Darken">
                <div class="d-flex align-center justify-center">
                
                </div>
            </MudOverlay>
        }
    }
}

@if (!_loading.Value || Overlap)
{
    @ChildContent
}
